/*----------------   Motorcycles ----------------*/

.motorcycle-main {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.motorcycle-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  background-color: rgba(192,192,192,0.7);
}

header {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

#bikes {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

#bikes a {
  display: flex;
  justify-content: center;
  padding: 10px;
}
