/*----------------   Motorcycles ----------------*/

.motorcycle-main {
  padding-top: 50px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.motorcycle-column{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}



header{
  display: flex;
  justify-content: center;
}


ul {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;

}

#bikes a{

  display: flex;
  justify-content: center;
  padding: 10px;
}
