/*----------------   Survey ----------------*/

.survey-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.survey-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------   Form ----------------*/


#bike-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: rgba(192,192,192,0.7);
}

#bike-survey li {
  margin-bottom: 5px;
  padding-top: 15px;
}

#survey-button {
  margin-top: 20px;
}
