


/*----------------   Survey ----------------*/

.survey-main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.survey-column{

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}



/*----------------   Form ----------------*/


form{
  color:black;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.questions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
